*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-padrao: #ff9a03;
    --cor-padrao-hover: #ffda8bb9;
    --cor-fonte: white;
    --cor-fonte-p: grey;
    --cor-btn: #160e0ec9;
    --cor-btn-hover: blue;
    --cor-btn-fonte: black;
    --cor-fonte-corpo: grey;
    --cor-fonte-corpo-leve: #777;
}

body{
    font-family: 'Popins',  sans-serif;
}

.banner .texto-banner{
    margin-top: 70px;
}

.container{
    width: 90%;
    /* margin: auto;
    padding-left: 25px;
    padding-right: 25px; */
}

nav{
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

nav ul li a{
    text-decoration: none;
    color: var(--cor-fonte);
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--cor-fonte);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 700px){

    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 50vh;
        background:transparent;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}


.btn{
    text-decoration: none;
    color: var(--cor-fonte);
    background: var(--cor-btn);
    padding: 15px 30px;
    margin: 100px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: var(--cor-btn-hover);
    color: var(--cor-btn-fonte);
}

.banner p {
    color: var(--cor-fonte);
}

p{
    color: var(--cor-fonte-p);
}

.texto-banner{
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
    flex-basis: 50%;
}


.texto-banner h1{
    font-size: 100px;
    font-weight: lighter;
    line-height: 100px;
    margin: 25px 0px;
    color: var(--cor-fonte);
}

.texto-banner p{
    font-weight: 200;
    line-height: 130%;
    font-size: xx-large;
    color: var(--cor-fonte);
}

@media (max-width: 999px){
    .logo{
        width: 200px;
    }
    .texto-banner h1{
        font-size: 50px;
        font-weight: lighter;
        line-height: 50px;
        margin: 25px 0px;
        color: var(--cor-fonte);
    }
    .texto-banner p{
        font-weight: 200;
        line-height: 130%;
        font-size: medium;
        color: var(--cor-fonte);
    }
}

@media (max-width: 1300px){
    .logo{
        width: 200px;
    }
    .texto-banner h1{
        font-size: 60px;
        font-weight: lighter;
        line-height: 50px;
        margin: 25px 0px;
        color: var(--cor-fonte);
    }
    .texto-banner p{
        font-weight: 200;
        line-height: 130%;
        font-size: larger;
        color: var(--cor-fonte);
    }
}

.secont-section {
    padding: 20px;
    margin: 20px;
}

.secont-section .titulo{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(122, 122, 221);
    font-size: 70px;
    font-weight: 100;
}

.barra{
    width: 5%;
    height: 3px;
    background-color: rgb(21, 21, 43);
    border-radius: 8px;
    margin: auto;
    margin-bottom: 50px;
}

.container-m {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.box-container {
    padding: 20px;
    text-align: center;
    width: 30%; 
    transition: transform 0.3s;
}

.box-container:hover {
    transform: scale(1.05); 
    /* efeito de zoom  */
}

.box-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

h2 {
    margin: 10px 0;
    font-size: 22px;
    color: rgb(122, 122, 221);
}


@media (max-width: 999px) {
    .container-m {
        flex-direction: column;
        gap: 10px;
    }

    .box-container {
        width: 100%;
    }
}


.third-section p{
    font-size: 100px
}